.oh {
    overflow: hidden;
    width: 100%;
}

a {
    color: $color-primary;
    &:hover {
        text-decoration: underline;
        color: darken($color-primary, 10%);
    }
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

.container{
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
    &.cols{
        display: flex;
    }
}


.main-content{
    main,
    >article{
        flex: 2 auto;
    }
    
    article.post{
        margin-bottom: 2em;
    }
}