.sidebar{
    flex: 0 0 0 ;
    flex-basis: 33%;
    padding-left: 20px;
    
    h3{
        border-bottom: 1px solid #eee;
    }
    
    select{
        max-width: 300px;
    }
    
    ul{
        margin: 0 0 1em 1em;
    }
    .widget{
        margin-bottom: 2em;
    }
}