.sidebar{
    margin-bottom: $gap*2;
    @media screen and (min-width: $screen-md-min){
        flex-basis: 33%;
        padding-left: $gap*2;
    }
     
    h3{
        border-bottom: 1px solid #eee;
    }
    
    
    ul{
        margin: 0 0 1em 1em;
    }
    .widget{
        margin-bottom: 2em;
    }
}