*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
::-moz-selection{color:#fff; background:#000}
::selection{color:#fff;background:#000;}


img{
	max-width: 100%;
	height: auto;
	width: auto;
}

$color-primary: #fa0000;
$color-primary2: #6699fa;
$font: 'Verdana';
/********************************

XS 0 - 600
SM 601 - 900
MD 901 - 1200
LG 1201 - 1800
XL 1801 -

********************************/
$screen-xs-max: 600px;
$screen-sm-min: ($screen-xs-max + 1);
$screen-sm-max: 900px;
$screen-md-min: ($screen-sm-max + 1);
$screen-md-max: 1200px;
$screen-lg-min: ($screen-md-max + 1);
$screen-lg-max: 1800px;
$screen-xl-min: ($screen-lg-max + 1);





body{
	font-family: $font;
	color: #000;
	font-size: 18px;
}


@import 'reset';
@import 'mixins';
@import 'common';
@import 'header';
@import 'menu';
@import 'footer';
@import 'main_slider';
@import 'pagination';
@import 'contact_form_7';

