* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

::-moz-selection {
    color: #fff;
    background: #000
}

::selection {
    color: #fff;
    background: #000;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
    display: inline-block;
}

$color-primary: #05ccff;
$color-primary2: #6699fa;
$font: 'Open Sans';

$gap: 10px;

/********************************

XS 0 - 400
SM 600 - 760
MD 761 - 990
LG 991 - 1200
XL 1201 -

********************************/

$screen-xxs-max: 400px;
$screen-xs-min: ($screen-xxs-max + 1);
$screen-xs-max: 599px;
$screen-sm-min: ($screen-xs-max + 1);
$screen-sm-max: 760px;
$screen-md-min: ($screen-sm-max + 1);
$screen-md-max: 990px;
$screen-lg-min: ($screen-md-max + 1);
$screen-lg-max: 1200px;
$screen-xl-min: ($screen-lg-max + 1);
$screen-xl-max: 1400px;

body {
    font-family: $font;
    color: #444;
    font-size: 16px;
}

@import 'reset';
@import 'mixins';
@import 'common';
@import 'header';
@import 'menu';
@import 'footer';
@import 'main_slider';
@import 'pagination';
@import 'contact_form_7';
@import 'sidebar';
@import 'content';
@import 'gutenberg';