.page-header{
	 .inner{
	background-size: cover;
	background-position: center;;
	height: 20vh;
	min-height: 200px;
		.container{
			height: 100%;
			display: flex;
			align-items: center;
		}
	}

	h1{
		margin: auto 0;
	}


	&.alignfull .inner{

        position: relative;
        left: 50%;
        width: 101vw;
        max-width: 101vw;
        transform: translateX(-50%);
	}
}

.wp-admin .page-header .container{
	max-width: 620px;
	margin: 0 auto;
}